In [17]:
import pandas as pd
pd.options.display.max_columns = 99

In [18]:
# Read file as CSV

loans = pd.read_csv("loans_2007.csv")

# Read in the first 5 rows of dataframe
loans.head()

/dataquest/system/env/python3/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [20]:
# Find largest chunk size that uses < 5 MB memory.

loans.head(3000).info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 52 columns):
id                            3000 non-null object
member_id                     3000 non-null float64
loan_amnt                     3000 non-null float64
funded_amnt                   3000 non-null float64
funded_amnt_inv               3000 non-null float64
term                          3000 non-null object
int_rate                      3000 non-null object
installment                   3000 non-null float64
grade                         3000 non-null object
sub_grade                     3000 non-null object
emp_title                     2829 non-null object
emp_length                    2917 non-null object
home_ownership                3000 non-null object
annual_inc                    3000 non-null float64
verification_status           3000 non-null object
issue_d                       3000 non-null object
loan_status                   3000 non-null object
pymnt_plan                    3000 non-null object
purpose                       3000 non-null object
title                         3000 non-null object
zip_code                      3000 non-null object
addr_state                    3000 non-null object
dti                           3000 non-null float64
delinq_2yrs                   3000 non-null float64
earliest_cr_line              3000 non-null object
inq_last_6mths                3000 non-null float64
open_acc                      3000 non-null float64
pub_rec                       3000 non-null float64
revol_bal                     3000 non-null float64
revol_util                    3000 non-null object
total_acc                     3000 non-null float64
initial_list_status           3000 non-null object
out_prncp                     3000 non-null float64
out_prncp_inv                 3000 non-null float64
total_pymnt                   3000 non-null float64
total_pymnt_inv               3000 non-null float64
total_rec_prncp               3000 non-null float64
total_rec_int                 3000 non-null float64
total_rec_late_fee            3000 non-null float64
recoveries                    3000 non-null float64
collection_recovery_fee       3000 non-null float64
last_pymnt_d                  2998 non-null object
last_pymnt_amnt               3000 non-null float64
last_credit_pull_d            3000 non-null object
collections_12_mths_ex_med    3000 non-null float64
policy_code                   3000 non-null float64
application_type              3000 non-null object
acc_now_delinq                3000 non-null float64
chargeoff_within_12_mths      3000 non-null float64
delinq_amnt                   3000 non-null float64
pub_rec_bankruptcies          3000 non-null float64
tax_liens                     3000 non-null float64
dtypes: float64(30), object(22)
memory usage: 4.7 MB

In [21]:
# Number of Numeric and String Type Columns

loans = pd.read_csv("loans_2007.csv",chunksize=3000)

for chunk in loans:
    num_types = chunk.select_dtypes(include=['float64'])
    str_types = chunk.select_dtypes(include=['object'])
    len_num = len(num_types.columns)
    str_num = len(str_types.columns)

print("Number of Numeric Columns:",len_num)
print("Number of String Columns:",str_num)

Number of Numeric Columns: 30
Number of String Columns: 22

In [22]:
# Unique values in String Columns

unique_strings = []

for col in str_types:
    str_uniq = chunk[col].nunique()
    if str_uniq / len(chunk[col]) < 0.50:
        unique_strings.append(col)
    print("string column:",col,"\n# of unique values:",str_uniq)
print("\nColumns with fewer than 50% unique values:",len(unique_strings),",",len(unique_strings)/str_num)

string column: id
# of unique values: 538
string column: term
# of unique values: 1
string column: int_rate
# of unique values: 86
string column: grade
# of unique values: 7
string column: sub_grade
# of unique values: 35
string column: emp_title
# of unique values: 477
string column: emp_length
# of unique values: 11
string column: home_ownership
# of unique values: 4
string column: verification_status
# of unique values: 1
string column: issue_d
# of unique values: 9
string column: loan_status
# of unique values: 2
string column: pymnt_plan
# of unique values: 1
string column: purpose
# of unique values: 13
string column: title
# of unique values: 462
string column: zip_code
# of unique values: 267
string column: addr_state
# of unique values: 42
string column: earliest_cr_line
# of unique values: 218
string column: revol_util
# of unique values: 379
string column: initial_list_status
# of unique values: 1
string column: last_pymnt_d
# of unique values: 45
string column: last_credit_pull_d
# of unique values: 89
string column: application_type
# of unique values: 1

Columns with fewer than 50% unique values: 18 , 0.8181818181818182

In [23]:
# Float Columns with no Missing Values

nona_cols = []

for col_name in num_types:
    if chunk[col_name].notnull().all():
        nona_cols.append(col_name)
    na_cols = num_types.isnull().sum()
print("Float Columns with no missing values:",nona_cols,"\n")
print("Number of Missing Values in Float Columns:")
print(na_cols)

Float Columns with no missing values: []

Number of Missing Values in Float Columns:
member_id                       2
loan_amnt                       2
funded_amnt                     2
funded_amnt_inv                 2
installment                     2
annual_inc                      6
dti                             2
delinq_2yrs                    31
inq_last_6mths                 31
open_acc                       31
pub_rec                        31
revol_bal                       2
total_acc                      31
out_prncp                       2
out_prncp_inv                   2
total_pymnt                     2
total_pymnt_inv                 2
total_rec_prncp                 2
total_rec_int                   2
total_rec_late_fee              2
recoveries                      2
collection_recovery_fee         2
last_pymnt_amnt                 2
collections_12_mths_ex_med     91
policy_code                     2
acc_now_delinq                 31
chargeoff_within_12_mths       91
delinq_amnt                    31
pub_rec_bankruptcies          512
tax_liens                      68
dtype: int64

In [24]:
# Total memory usage across all of the chunks

total_mem = 0
for chunk in pd.read_csv("loans_2007.csv",chunksize=3000):
    total_mem += chunk.memory_usage(deep=True).sum()
print("Total Memory Usage:",total_mem/1048576,"MB")

Total Memory Usage: 66.2153730392456 MB

In [26]:
"""Clean columns and convert to more space efficient types"""

total_mem_ft = 0

chunk_iter = pd.read_csv("loans_2007.csv",chunksize=3000)

for chunk in chunk_iter:
    
    #convert id to float
    chunk['id'] = chunk['id'].apply(pd.to_numeric, errors='coerce')

    # convert term to float
    chunk["term"] = chunk["term"].str.replace("months","")
    chunk["term"] = chunk["term"].astype('float')

    # convert int_rate to float
    chunk["int_rate"] = chunk["int_rate"].str.replace("%","")
    chunk["int_rate"] = chunk["int_rate"].astype('float')

    # convert revol_util to float
    chunk["revol_util"] = chunk["revol_util"].str.replace("%","")
    chunk["revol_util"] = chunk["revol_util"].astype('float')
    
    chunk["grade"] = chunk["grade"].astype("category")
    chunk["sub_grade"] = chunk["sub_grade"].astype("category")
    chunk["home_ownership"] = chunk["home_ownership"].astype("category")
    chunk["verification_status"] = chunk["verification_status"].astype("category")
    chunk["pymnt_plan"] = chunk["pymnt_plan"].astype("category")
    
    # Since no columns have any missing values, 
    # I made the judgement call to drop the 2 rows that had missing
    # values in every column, so I would be able to convert some
    # columns to int type

    chunk.dropna(subset=['id'],axis=0,inplace=True)
    
    
    # convert id from float to int32
    chunk["id"] = chunk["id"].astype('int32')
    
    # convert member_id from float to int32
    chunk["member_id"] = chunk["member_id"].astype('int32')
    
    # convert term from float to int16
    chunk["term"] = chunk["term"].astype('int16')
    
    # convert revol_util from float64 to float16
    chunk["revol_util"] = chunk["revol_util"].astype('float16')
    
    # convert int_rate from float64 to float16
    chunk["int_rate"] = chunk["int_rate"].astype('float16')
    
    # add up the memory usage across each chunk
    total_mem_ft += chunk.memory_usage(deep=True).sum()
  
# compare the total memory usage now with before
print("Total Memory Usage:",total_mem_ft/1048576,"MB")

Total Memory Usage: 45.661078453063965 MB